html {
    scroll-behavior: smooth;
  }

body{
    margin: 0;
    padding: 0;
    width: auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    background-color: black;
 
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: 0;
    width: 100%;

    
    


}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: auto;
    margin: auto;
    
}

.nav ul li a{
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color:white;
    
}

.nav ul li {

    margin-top: 0px;
    width: 90px;
    height: 25px;
    text-align: center; 
    align-items: center;
    
    
    
}

.nav ul li a:hover{

transition: 0.5s;
font-size: 20px;


}



.hero {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 680px;
    background-image: url(images/pexels-mikhail-nilov-7828670.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}
.hero .nav ul{
    position:right ;
}

.hero h1 {
    
font-size: 2.5em;
background: linear-gradient(45deg, #4b4949, #eeeb40 );
-webkit-background-clip: text; 
background-clip: text;
color: transparent;
font-size: 24px; 
font-weight: bold;
    
}

.hero p {
    color: white;
    text-align: left;
    width: 100px;
    font-size: 30px;
    
}
.hero button {
    background-color: transparent;
    border: 5px ridge black;
    align-items: left;
    box-shadow: 0px 0px 5px black;
    width: 100px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid black;

}
.hero button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.hero h2 {
    margin-top: 500px;
    text-align: center;
}

.hero button:hover {
    
    transition: 1s;
    cursor: pointer;
    background-color: #a3a10f;

}
.projects {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
margin: auto;
margin-bottom: 50px;



}

.projects img {
    height: 250px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(11, 11, 11);
}
.projects-info {
    margin-top: 0;
    height: auto;
    margin:auto;
    color: white;
    font-size: 20px;
    padding: 5px;
    background-color: transparent;
    text-decoration: none;

}

section {
    background-image: url(images/bg2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 400px;
    margin: 0;
    
    
}

section .portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgba(0, 0, 0, 0.7);
    height: auto;
    margin-bottom: 450px;
  
    

}


.main-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    

}


.main  {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-bottom: 300px;
    background-color:rgba(0, 0, 0, 0.7);
    padding: 5px;
}
.main h1 {
    color: white;
}

.main p {
    display: flex;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 18px;
    padding: 30px;
    width: 600px;
    line-height: 20px;
    color: white;

}

.main .skills img {
    height: 30px;
    width: 30px;
    margin: 10px;
}
.main .skills {
    margin-bottom: 300px;
}

.main #contact {
    font-family:Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    text-align: justify;
    font-size: 15px;
    padding: 30px;
    width: 600px;
    line-height: 20px;
}

form {
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0px 0px 15px black;
    width: 400px;
    color: white;
    margin-bottom: 100px;
    box-shadow: 0px 0px 3px black
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
textarea {
    resize: vertical;
}
  
button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  
  }
  
  button:hover{
    background-color: rgb(25, 93, 10);
    transition: 0.5s;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 40px;
    width: auto;
    padding:20px ;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 15px black;
  }

  
#scrollToTopBtn {
    position: fixed;
    bottom: 200px;
    right: 20px;
    display: none;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0px 0px 10px black;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    text-align: center;
  }
  
  #scrollToTopBtn:hover {
    background-color: rgb(190, 190, 13);
    color: black;
  }
  
/*responsive*/
@media screen and (min-width: 300px) and (max-width: 540px) {
    form {
        background-color: black;
        padding: 20px;
        border-radius: 8px;
        margin: 20px;
        box-shadow: 0px 0px 15px black;
        width: 200px;
        color: white;
        margin-bottom: 50px;
        box-shadow: 0px 0px 3px black
    }
    
    .nav ul  {
        display: none;
    }
    .hero button {
        width: 100px;
        height: 30px;
        margin: 10px;
        padding: 5px;
        font-size: 16px;
    }

    .hero h1 {
        font-size: 2.5em;
        width: 200px;
       
    }

    .hero p {
        width: 200px;
        font-size: 22px;
    }
    .hero {
        height: 700px;
    }

    .projects {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        height: 250px;
        width: 300px;
        margin-top: 100px;
        margin-bottom: 200px;
        border-radius: 15px;
    }

    section .portfolio { 
        padding:20px
    }
    .projects img {
        height: 180px;
        width: 300px;
    }

    .projects-info {
        margin: auto;
    }
    .main {
        width: 300px
        margin: auto;
    }
    .main p {
        width: 280px;
        font-size: 1em;
    }
}



@media screen and (min-width: 540px) and (max-width: 768px) {
    .nav ul li {
        width: 100px;
    }

    .hero h1 {
        font-size: 3em;
        width: 400px;
    }

    .hero p {
        width: 400px;
        font-size: 1.5em;
    }

    .projects {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        height: auto;
        width: 380px;
        margin-top: 100px;
        margin-bottom: 200px;
        border-radius: 15px;
    }
    .projects img {
        width: 380px;
    }
    .projects-info {
        margin: auto;
        width: 380px;
    }

    .main {
        width: 500px;
        margin: auto;
    }
    .main p {
        width: 450px;
        font-size: 14px;
        
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .nav ul  {
        display: flex;
    }
    .nav ul li {
        display: block;
        width: 100px;
    }

    .hero h1 {
        font-size: 3em;
    }

    .hero p {
        width: 500px;
    }

    .projects {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        height: auto;
        width: 500px;
        margin-top: 100px;
        margin-bottom: 200px;
        border-radius: 15px;
    }
    .projects-info {
        margin: auto;
        width: 500px;
    }
    .main {
        width: 500px;
        margin: auto;
    }
    .main p {
        width: 450px;
        font-size: 18px;
    }
}

/* Desktop styles (992px and above) */
@media screen and (min-width: 992px) {
    .nav ul  {
        display: flex;
    }

    .hero h1 {
        font-size: 3em;
        width: 600px;
    }

    .hero p {
        width: 500px;
        font-size: 1.5em;
    }
    .projects {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        height: auto;
        width: 500px;
        margin-top: 100px;
        margin-bottom: 300px;
        border-radius: 15px;
    }

    .projects-info {
        margin: auto;
        width: 500px;
    }
}




